@use 'mixins';
@import '@fontsource/syne/400.css';
@import '@fontsource/syne/600.css';
@import '@fontsource/syne/700.css';
@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/600.css';
@import '@fontsource/montserrat/700.css';
/* ---------- RESET & LAYOUT ---------- */
:root {
  --sl-nav-height: 0px !important;
  --sl-mobile-toc-height: 0px !important;
  overflow-x: clip;
}
header.header {
  display: none !important;
}
.content-panel {
  padding-top: 0 !important;
}
/* ---------- SCROLLBAR HIDING ---------- */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Brave */
  }
}